@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
  }

  /* Transitions politely borrowed from LinkedIn */

  .transition-close-bubble {
    transition-duration: 180ms;
    transition: height 0.3s ease, width 0.3s ease, transform 0.3s ease;
    transition-timing-function: cubic-bezier(0,0,.2,1);
  }

  .transition-open-bubble {
    transition-duration: 180ms;
    transition: height 0.3s ease, width 0.3s ease, transform 0.3s ease;
    transition-timing-function: cubic-bezier(.4,0,1,1);
  }

  .transition-chat-sidebar {
    transition-duration: 180ms;
    transition: height 0.3s ease;
    transition-timing-function: cubic-bezier(0,0,.2,1);
  }